.project {
  padding: 30px 200px 70px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;

  @media screen and (max-width: 1280px) {
    & {
      padding: 25px 60px 50px;
    }
  }

  @media screen and (max-width: 700px) {
    & {
      gap: 30px;
      padding: 20px 30px 30px;
    }
  }

  @media screen and (max-width: 550px) {
    & {
      padding: 16px 16px;
    }
  }

  &__title {
    margin: 0;
    padding: 0;
    color: $white-color;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;

    @media screen and (max-width: 700px) {
      & {
        font-size: 32px;
      }
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    display: grid;
    column-gap: 70px;
    row-gap: 40px;
    grid-template-columns: repeat(auto-fill, 288px);
    justify-content: center;
  }
}
